GRPC_PORT=50051
WEB_SOCKET_PORT=8080


DATABASE_URL="postgresql://postgres:postgres@pgbouncer:6432/streaming"
DATABASE_DIRECT_URL="postgresql://postgres:postgres@postgres:5432/streaming"

SERVICE_AUTH_URL=auth:50051
SERVICE_PROFILE_URL=profile:50051
SERVICE_ENGINE_URL=engine:50051
SERVICE_ORCHESTRATION_URL=test:50051
SERVICE_BATTLE_URL=battle:50051

RABBIT_HOST=rabbitmq
RABBIT_USER=user
RABBIT_PASS=password

PG_BOSS_MAX=5
PG_BOSS_NEW_CONNECTION_TIMEOUT_SECONDS=30
PG_BOSS_MAINTENANCE_INTERVAL_SECONDS=60
PG_BOSS_APPLICATION_NAME=streaming-pgboss

JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=streaming-client
KAFKA_TOPIC_BATTLE_UPDATED=battle.updated
KAFKA_TOPIC_AI_CONNECTING_REQUEST=ai.connecting-request
